<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Reevoo Build Monitor</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="stylesheets/screen.css" type="text/css" media="screen" charset="utf-8" />
  <script type="text/javascript" charset="utf-8">
    setTimeout(function() {
      window.location = window.location;
    }, 60000);
  </script>
</head>

<body>
<% builds[:failure].each do |title| %>
  <div class="project failure"><%= title %></div>
<% end %>
<% builds[:building].each do |title| %>
  <div class="project building"><%= title %></div>
<% end %>
  <div class="project success"><%= builds[:success].length %> other builds are fine</div>
</body>
</html>
