<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Reevoo Build Monitor</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <style type="text/css" media="screen">
    html, body {
      margin:0;
      padding:0;
    }
    body {
      padding:0 0 0 1%;
      font-family:arial, sans-serif;
    }
    div.project {
      font-size:2em;
      font-weight:bold;
      margin:0.5em 0 0 0;
      padding:0.25em 1%;
      background:#ccc;
      -webkit-box-shadow:rgba(0,0,0,0.5) 0px 5px 10px;
      -webkit-border-radius:0.5em;
      width:47%;
      margin-right:1%;
      float:left;
    }
    div.success {
      background-color:#0a0;
      color:#fff;
    }
    div.failure {
      background-color:#d00;
      color:#fff;
    }
    div.building {
      background-image:url('images/building.gif');
      background-position:99% 50%;
      background-repeat:no-repeat;
    }
  </style>
</head>

<body>
<% builds.each do |b| %>
  <div class="project <%= b[:status] %>"><%= b[:title] %></div>
<% end %>
</body>
</html>
