html, body {
  margin:0;
  padding:0;
}
body {
  padding:0 1em;
  font-family:arial, sans-serif;
}
div.project, div.ok {
  text-align:center;
  font-size:2em;
  font-weight:bold;
  margin:0.5em 0 0 0;
  padding:0.25em 1%;
  background:#ccc;
  -webkit-box-shadow:rgba(0,0,0,0.5) 0px 5px 10px;
  -webkit-border-radius:0.5em;
}
div.success, div.ok {
  background-color:#0a0;
  color:#fff;
}
div.failure {
  background-color:#d00;
  color:#fff;
}
div.building {
  background-image:url('../images/building.gif');
  background-position:99% 50%;
  background-repeat:no-repeat;
}
div.ok {
  font-size:5em;
}
